bootstrapped==0.0.2
configobj==5.0.6
dustmaps==1.0.4
fortranformat==0.2.5
future==0.17.1
healpy==1.13.0
joblib==0.14.1
mock==3.0.5
mpltools==0.2.0
numexpr==2.7.0
pip==18.1
progressbar2==3.50.1
python-utils==2.4.0
scikit-learn==0.22.2.post1
sklearn==0.0
sobol_seq==0.1.2
spectres==2.0.0
tables==3.5.2
wave==0.0.2
